force-app/main/default/flows/Choose_Question_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>curQuestionAssign</name>
        <label>curQuestionAssign</label>
        <locationX>713</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>curQuestion_Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Questions.sfqz__Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Questions</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Choose_Stack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stack__c</picklistField>
        <picklistObject>Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choose_Stack_Q</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stack__c</picklistField>
        <picklistObject>sfqz__Quiz_Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choose_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Question__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Choose Question Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose Question Type</label>
    <loops>
        <name>Loop_through_Questions</name>
        <label>Loop through Questions</label>
        <locationX>518</locationX>
        <locationY>272</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>curQuestionAssign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>375</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Questions</targetReference>
        </connector>
        <filters>
            <field>Stack__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stackChoice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>typeChoice</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sfqz__Quiz_Question__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>sfqz__Label__c</queriedFields>
        <queriedFields>sfqz__Answer_A__c</queriedFields>
        <queriedFields>sfqz__Answer_B__c</queriedFields>
        <queriedFields>sfqz__Answer_C__c</queriedFields>
        <queriedFields>sfqz__Answer_D__c</queriedFields>
        <queriedFields>sfqz__Correct_Answer__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_A_Stack</name>
        <label>Choose A Stack</label>
        <locationX>180</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
        <fields>
            <name>Choose_Stack_Type</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>sfqz__Quiz_Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Stack__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Question Stack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Question Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>stackChoice</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>typeChoice</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Please select the Stack that you want your quiz questions to be pulled from, and then the Type of questions.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Questions</name>
        <label>Display Questions</label>
        <locationX>707</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_Questions</targetReference>
        </connector>
        <fields>
            <name>Question_List</name>
            <fieldText>&lt;p&gt;{!curQuestion_Label}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Choose_A_Stack</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfqz__Quiz_Question__c</objectType>
    </variables>
    <variables>
        <name>curQuestion_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stackChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typeChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
