force-app/main/default/flows/Mock_Interview_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignnumberofquestions</name>
        <label>assignnumberofquestions</label>
        <locationX>344</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>numberofquestions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getinterviewquestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkforrecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkforrecords</name>
        <label>checkforrecords</label>
        <locationX>456</locationX>
        <locationY>91</locationY>
        <defaultConnector>
            <targetReference>MainQuestionLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>norecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberofquestions</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Questions_Found</targetReference>
            </connector>
            <label>norecords</label>
        </rules>
    </decisions>
    <interviewLabel>Mock Interview Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mock Interview Flow</label>
    <loops>
        <name>MainQuestionLoop</name>
        <label>MainQuestionLoop</label>
        <locationX>662</locationX>
        <locationY>63</locationY>
        <assignNextValueToReference>Mainloopvariable</assignNextValueToReference>
        <collectionReference>getinterviewquestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getinterviewquestions</name>
        <label>getinterviewquestions</label>
        <locationX>257</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignnumberofquestions</targetReference>
        </connector>
        <filters>
            <field>Meeting_md__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>meetingid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>907</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;End of Questions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>flaksjdf</name>
        <label>flaksjdf</label>
        <locationX>160</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getinterviewquestions</targetReference>
        </connector>
        <fields>
            <name>dt3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Get ready to begin interview!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Questions_Found</name>
        <label>No Questions Found!</label>
        <locationX>464</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Selected Mock Interview has no Questions assigned to it!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S1</name>
        <label>S1</label>
        <locationX>677</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MainQuestionLoop</targetReference>
        </connector>
        <fields>
            <name>dt1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!Mainloopvariable.Question__r.Body__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>flaksjdf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Interview_Meeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting__c</objectType>
    </variables>
    <variables>
        <name>Mainloopvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview_Question__c</objectType>
    </variables>
    <variables>
        <name>meetingid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberofquestions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Questionlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
</Flow>
