force-app/main/default/flows/Question_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnswerA</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Option_A</elementReference>
        </value>
    </choices>
    <choices>
        <name>AnswerB</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Option_B</elementReference>
        </value>
    </choices>
    <choices>
        <name>AnswerC</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Option_C</elementReference>
        </value>
    </choices>
    <choices>
        <name>AnswerD</name>
        <choiceText>D</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Option_D</elementReference>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>D</name>
        <choiceText>D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Checks if the question will be made into a quiz question.</description>
        <name>Is_Quiz_Question</name>
        <label>Is Quiz Question</label>
        <locationX>393</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Question_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_into_quiz_question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quiz_Question</targetReference>
            </connector>
            <label>Check checkbox</label>
        </rules>
    </decisions>
    <description>Guides the user through creating an interview question, which can turn into a quiz question.</description>
    <dynamicChoiceSets>
        <name>Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stack__c</picklistField>
        <picklistObject>Quiz_Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Quiz_Question__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Question Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Question Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Interview_Question</name>
        <label>Create Interview Question</label>
        <locationX>271</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Is_Quiz_Question</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Enter_your_question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack__c</field>
            <value>
                <elementReference>Stack_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type_Text</elementReference>
            </value>
        </inputAssignments>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Make_Quiz_Question</name>
        <label>Make Quiz Question</label>
        <locationX>714</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Quiz_Question_Result</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer_A__c</field>
            <value>
                <elementReference>AnswerA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_B__c</field>
            <value>
                <elementReference>AnswerB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_C__c</field>
            <value>
                <elementReference>AnswerC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_D__c</field>
            <value>
                <elementReference>AnswerD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Answer__c</field>
            <value>
                <elementReference>CorrectAnswer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack__c</field>
            <value>
                <elementReference>Stack_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type_Text</elementReference>
            </value>
        </inputAssignments>
        <object>Quiz_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>User makes an interview question, can be changed to a quiz question.</description>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>142</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Interview_Question</targetReference>
        </connector>
        <fields>
            <name>Enter_your_question</name>
            <fieldText>Enter your question:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StackType</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Stack__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Stack_Text</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Type_Text</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Make_into_quiz_question</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Make into quiz question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Quiz_Question</name>
        <label>Create Quiz Question</label>
        <locationX>590</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Make_Quiz_Question</targetReference>
        </connector>
        <fields>
            <name>Question1</name>
            <defaultValue>
                <stringValue>{!Enter_your_question}</stringValue>
            </defaultValue>
            <fieldText>Question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Option_A</name>
            <dataType>String</dataType>
            <fieldText>Option A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Option_B</name>
            <dataType>String</dataType>
            <fieldText>Option B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Option_C</name>
            <dataType>String</dataType>
            <fieldText>Option C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Option_D</name>
            <dataType>String</dataType>
            <fieldText>Option D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CorrectAnswer</name>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Correct Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stack_Type</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Quiz_Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Stack__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Stack_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Type_Text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Stack_Text</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Type_Text</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Result</name>
        <label>Question Result</label>
        <locationX>402</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Question_Made</name>
            <fieldText>&lt;p&gt;You have successfully made an Interview Question.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quiz_Question_Result</name>
        <label>Quiz Question Result</label>
        <locationX>878</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YouDidIt</name>
            <fieldText>&lt;p&gt;You have successfully created a quiz question!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>13</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Create_Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Stack_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
