force-app/main/default/flows/Quiz_Question_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Answer_A</elementReference>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Answer_B</elementReference>
        </value>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Answer_C</elementReference>
        </value>
    </choices>
    <choices>
        <name>D</name>
        <choiceText>D</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Answer_D</elementReference>
        </value>
    </choices>
    <constants>
        <name>Java_Stack_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Java</stringValue>
        </value>
    </constants>
    <constants>
        <name>NET_Stack_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>.NET</stringValue>
        </value>
    </constants>
    <constants>
        <name>Salesforce_Stack_Const</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Quiz_Question_Selected</name>
        <label>Add Quiz Question Selected</label>
        <locationX>479</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>Question_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Quiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Quiz_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Question</targetReference>
            </connector>
            <label>Create Quiz</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Stack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stack__c</picklistField>
        <picklistObject>sfqz__Quiz_Question__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>sfqz__Quiz_Question__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quiz Question Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz Question Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Interview_Question</name>
        <label>Create Interview Question</label>
        <locationX>354</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>Add_Quiz_Question_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Interview_Question</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack__c</field>
            <value>
                <elementReference>textStack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>textType</elementReference>
            </value>
        </inputAssignments>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quiz_Question</name>
        <label>Create Quiz Question</label>
        <locationX>876</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Question_Completion</targetReference>
        </connector>
        <inputAssignments>
            <field>Stack__c</field>
            <value>
                <elementReference>textStack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>textType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Answer_A__c</field>
            <value>
                <elementReference>A</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Answer_B__c</field>
            <value>
                <elementReference>B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Answer_C__c</field>
            <value>
                <elementReference>C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Answer_D__c</field>
            <value>
                <elementReference>D</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Correct_Answer__c</field>
            <value>
                <elementReference>Correct_Answer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sfqz__Label__c</field>
            <value>
                <elementReference>Quiz_Question</elementReference>
            </value>
        </inputAssignments>
        <object>sfqz__Quiz_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Question</name>
        <label>Create Quiz Question Screen</label>
        <locationX>694</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quiz_Question</targetReference>
        </connector>
        <fields>
            <name>Quiz_Question</name>
            <defaultValue>
                <stringValue>{!Interview_Question}</stringValue>
            </defaultValue>
            <fieldText>Quiz Question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_A</name>
            <dataType>String</dataType>
            <fieldText>Answer A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_B</name>
            <dataType>String</dataType>
            <fieldText>Answer B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_C</name>
            <dataType>String</dataType>
            <fieldText>Answer C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_D</name>
            <dataType>String</dataType>
            <fieldText>Answer D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Correct_Answer</name>
            <choiceReferences>A</choiceReferences>
            <choiceReferences>B</choiceReferences>
            <choiceReferences>C</choiceReferences>
            <choiceReferences>D</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Correct Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Style_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>sfqz__Quiz_Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Stack__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>textStack</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>textType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>textStack</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>textType</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>199</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Interview_Question</targetReference>
        </connector>
        <fields>
            <name>Interview_Question</name>
            <fieldText>Interview Question</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stack_val</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Question__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Stack__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>textStack</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>textType</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Add_Quiz_Question</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Quiz Question?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Completion</name>
        <label>Question Completion</label>
        <locationX>1017</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completion</name>
            <fieldText>&lt;p&gt;You have successfully created a question.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Created</name>
        <label>Question Created</label>
        <locationX>485</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Question_Success</name>
            <fieldText>&lt;p&gt;You have successfully created an interview question.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Question</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>textStack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
